In [19]:
# Passo 1 - Importar o SQLite
import sqlite3

# Passo - 2
# Criar conexão com o banco de dados
# Na primeira execução será criado o banco
# Toda vez que for necessário se CONECTAR com o banco de dados esse comando precisa ser rodado
conexao = sqlite3.connect('agencia.db')

# Passo 3 
# - Criar um cursor
# - Serve para executar scripts SQL dentro do banco

cursor = conexao.cursor()

print("conexão criada com sucesso")

conexão criada com sucesso

## CRIAR TABELA DENTRO DO BANCO DE DADOS

In [ ]:
cursor.execute('''CREATE TABLE IF NOT EXISTS roupas(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    marca TEXT NOT NULL,
    nome TEXT NOT NULL,
    categoria TEXT NOT NULL,
    tamanho INTEGER NOT NULL,
    valor DECIMAL NOT NULL
    
);
               
               
               ''') 

print('tabela criado com sucesso')

banco criado com sucesso

## C - CREATE

In [ ]:
#cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('Nike','Camisa Dry Fit','Camiseta',38,150 ))
'''cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('Nike','Camisa Dry Fit','Camiseta',38,150))
cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('Nike','Moletom Nike Club','Roupa de Frio',40,370))
cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('Adidas','Adidas Campus','Tênis',39,450))
cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('Nike','Air Max DN','Tênis',41,560))
cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('Corteiz','Camisa Corteiz Off White','Camiseta',38,100))
cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('Nike','Air Max 95 Neon','Tênis',38,500))
cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('Sumwon','Calça Baggy Clara','Calça',40,170))
cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('Sumwon','Calça Baggy Escura','Calça',38,190))
cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('Sumwon','Conjunto de Moletom Cinza','Roupa de Frio',40,230))
cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('New Balance','New Balance 9060','Tênis',41,530))
cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('New Balance','New Balance 550','Tênis',40,400))
cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('Asics','Asics Gel NYC','Tênis',39,560))
cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('Nike','Nike Air Force White','Tênis',38,300))
cursor.execute("INSERT INTO roupas('marca','nome','categoria','tamanho','valor') VALUES(?,?,?,?,?)",('Nike','Nike Air Force Black','Tênis',38,300))
'''


# Salvar dentro do banco de dados
conexao.commit()
conexao.close()
print('produtos cadastrados')

produtos cadastrados

In [ ]:
conexao = sqlite3.connect('agencia.db')
cursor = conexao.cursor()

# Mostrar todos os produtos
consulta = cursor.execute("SELECT * FROM roupas")
print('Consulta ao Banco de Dados:\n')
for estoque in consulta.fetchall():
    print(f'Marca: {estoque[1]} - Nome: {estoque[2]} - Categoria: {estoque[3]} - Tamanho: {estoque[4]} - Valor: {estoque[5]}')
    
print('\n________________________________________________________________\n')

# Mostrar apenas o nome e o preço dos produtos
consulta2 = cursor.execute("SELECT nome, valor FROM roupas")
print('Nomes e Valors:\n')
for estoque2 in cursor.fetchall():
    print(f'{estoque2[0]} - {estoque2[1]}')

Consulta ao Banco de Dados:

Marca: Nike - Nome: Camisa Dry Fit Azul - Categoria: Camiseta - Tamanho: 38 - Valor: 150
Marca: Nike - Nome: Camisa Dry Fit - Categoria: Camiseta - Tamanho: 38 - Valor: 150
Marca: Nike - Nome: Moletom Nike Club - Categoria: Roupa de Frio - Tamanho: 40 - Valor: 370
Marca: Adidas - Nome: Adidas Campus - Categoria: Tênis - Tamanho: 39 - Valor: 450
Marca: Nike - Nome: Air Max DN - Categoria: Tênis - Tamanho: 41 - Valor: 560
Marca: Corteiz - Nome: Camisa Corteiz Off White - Categoria: Camiseta - Tamanho: 38 - Valor: 100
Marca: Nike - Nome: Air Max 95 Neon - Categoria: Tênis - Tamanho: 38 - Valor: 500
Marca: Sumwon - Nome: Calça Baggy Clara - Categoria: Calça - Tamanho: 40 - Valor: 170
Marca: Sumwon - Nome: Calça Baggy Escura - Categoria: Calça - Tamanho: 38 - Valor: 190
Marca: Sumwon - Nome: Conjunto de Moletom Cinza - Categoria: Roupa de Frio - Tamanho: 40 - Valor: 230
Marca: New Balance - Nome: New Balance 9060 - Categoria: Tênis - Tamanho: 41 - Valor: 530
Marca: New Balance - Nome: New Balance 550 - Categoria: Tênis - Tamanho: 40 - Valor: 400
Marca: Asics - Nome: Asics Gel NYC - Categoria: Tênis - Tamanho: 39 - Valor: 560
Marca: Nike - Nome: Nike Air Force White - Categoria: Tênis - Tamanho: 38 - Valor: 300
Marca: Nike - Nome: Nike Air Force Black - Categoria: Tênis - Tamanho: 38 - Valor: 300

________________________________________________________________

Nomes e Valors:

Camisa Dry Fit Azul - 150
Camisa Dry Fit - 150
Moletom Nike Club - 370
Adidas Campus - 450
Air Max DN - 560
Camisa Corteiz Off White - 100
Air Max 95 Neon - 500
Calça Baggy Clara - 170
Calça Baggy Escura - 190
Conjunto de Moletom Cinza - 230
New Balance 9060 - 530
New Balance 550 - 400
Asics Gel NYC - 560
Nike Air Force White - 300
Nike Air Force Black - 300

## U - UPDATE

In [ ]:
cursor.execute("UPDATE roupas SET nome = ? WHERE id = ?", ( 'Camisa Dry Fit Azul',1))

conexao.commit()

print('produto atualizado')

produto atualizado

## D - DELETE

In [49]:
cursor.execute("DELETE from roupas WHERE id= ?", (11,))
conexao.commit
conexao.close

print('item deletado com sucesso')

item deletado com sucesso