In [27]:
#Criar um banco de dados com SQLlite

import sqlite3

conexao = sqlite3.connect('dados.db')
cursor = conexao.cursor()

In [29]:
cursor.execute('''

CREATE TABLE IF NOT EXISTS produtos (
    id INTEGER PRIMARY KEY AUTOINCREMENT, 
    marca VARCHAR(50) NOT NULL,
    produto VARCHAR (50) NOT NULL,
    quantidade INTEGER,
    valor DECIMAL NOT NULL 
    
);               
                            
               
               ''')



conexao.commit()
conexao.close

In [33]:
conexao = sqlite3.connect('dados.db')
cursor = conexao.cursor()
cursor.execute("INSERT INTO produtos ('marca','produto','quantidade','valor') VALUES ('Santoss','Moletom Cinza',8,250);")
cursor.execute("INSERT INTO produtos ('marca','produto','quantidade','valor') VALUES ('Santoss','Calça Jeans',6,200);")

conexao.commit()

OperationalError: table produtos has no column named quantidade

In [ ]:
conexao = sqlite3.connect('dados.db')
cursor = conexao.cursor()

consulta = cursor.execute("select * from produtos;")
imprimir = consulta.fetchall()

for i in imprimir:
    print(i)